@import "/UI/Styles/Theme.scss";

Page
{
    flex-grow: 1;
    flex-shrink: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;

    .header
    {
        flex-direction: column;
        flex-shrink: 0;
        color: white;
        font-size: 30px;
        text-align: center;
        padding-top: 5%;
    }

    .fixed-left {
        position: absolute;
        left:0;
    }

    .subheader
    {
        flex-direction: column;
        color: white;
        flex-shrink: 0;
    }


    .align-center
    {
        align-items: center;
    }

    .line
    {
        position: relative;
        width: 100%;
        height: 1px;
        background-color: rgba( $terror-color, 0.75 );

        &.fade
        {
            background-color: transparent;
            background-image: linear-gradient( to right, rgba( $terror-color, 0.75 ), rgba( $terror-color, 0 ) 50% );
        }
    }

    .body
    {
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        align-items: flex-start;
    }

    .inset
    {
        position: relative;
        margin-left: 64px;
        margin-right: 64px;
    }

    .inset-top
    {
        margin-top: 16px;
    }

    .inset-bottom
    {
        margin-top: 32px;
    }

    .subfooter
    {
        flex-direction: column;
        flex-shrink: 0;
        padding-bottom: 2%;
    }

    .footer
    {
        flex-direction: column;
        flex-shrink: 0;
    }

    .absolute
    {
        position: absolute;
    }

    .is-me
    {
        color: $terror-color;
    }

    .unready
    {
        color: $terror-color;
    }

    .party-info
    {
        top: -34px;
    }

    .party-deck
    {
        position: relative;
    }

    .ready-status
    {
        top: 64px;
    }

    .row
    {
        flex-direction: row;
        gap: 8px;

        &.with-bg
        {
            background-color: rgba( black, 0.5 );
            backdrop-filter: blur( 15px );
        }
    }

    .column
    {
        flex-direction: column;

        &.with-gap
        {
            gap: 8px;
        }

        &.with-bg
        {
            background-color: rgba( black, 0.5 );
            backdrop-filter: blur( 15px );
        }
    }

    .logo-box {
        width: 100%;
        position: relative;
    }
    
    .logo
    {
        position: absolute;
        width:  500px;
        height: 200px;
    }

    .save-slot 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .slot {
            display: flex;
            width: 15em;
            height: 15em;
            align-items: center;
            justify-content: center;
            background-color: rgba(black, 0.5);
            color: gray;
        }   

        .name {
            display: flex;

            width: 100%;
            color: white;
            text-transform: uppercase;
            padding: 10px 10px;
            gap: 30px;
            background-color: rgba( black, 0.75 );

            align-items: center;
            justify-content: center;
            
            &:hover, &.active, &:active
            {
                background-color: $main-color;
                color: $main-color-dark;
            }
        }

        &:hover, &.active, &:active
        {
            .name {
                background-color: $main-color;
                color: $main-color-dark;
            }
        }
    }

}

